.submit{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    height: 50px;
    width: auto;
    font-size: 30px;
    border: 2px solid #008CBA;
    border-radius: 5px;
    color: #008CBA;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 10px 0px 50px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    font-weight: bold;
}

.submit:hover {
    background-color: #008CBA;
    color: white;
  }

  .alert {
      display: inline-block;
      width: 90%;
      text-align: center;
  }